
@require './stylus/var/Variable'
@require './stylus/var/Display'
@require './stylus/var/Space'
@require './stylus/var/Color'

@require './stylus/theme/default'

@require './stylus/Font'
@require './stylus/Reset'
@require './Component'


/**  样式命名风格
  *  .block{}           组件样式
  *  .block__element{}  组件节点样式
  *  .block--modifier{} 组件节点状态
  */
[aspectratio]
  position: relative
  &:before
    content:''
    display: block
    width: 1px
    margin-left: 1px
    height: 0
  [aspectratio-content]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
body
  height 100vh
  width: 100vw
  overflow: hidden
  display: flex
  .default-page
    display: flex
    flex: 1
    flex-direction: column
    align-content: stretch
    justify-content: stretch
    align-items: stretch
    justify-items: stretch
    .default-content
      flex:1
#app
  height 700vh
  width: 750px
  .page
    width: 750px
  #page-one
    background-image: url('../static/images/bg-1.jpg'), url('../static/images/bg.jpg')
    background-position-y: -2rem
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
  #page-two
    background-image: url('../static/images/bg-2.jpg') ,url('../static/images/bg.jpg')
    background-position: right bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
  #page-three
    background-image: url('../static/images/bg-3.jpg'), url('../static/images/bg.jpg')
    background-position: left bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
    #copy-three
      margin-top: 1rem
      text-align: right
      margin-right: 1em
  #page-four
    background-image: url('../static/images/bg-4.jpg'), url('../static/images/bg.jpg')
    background-position: bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
    #copy-four
      margin-top: 1rem
      margin-left: 1em
    #teacher-avatar
      position: absolute
      width: 1.5rem
      height: 1.5rem
      border-radius: 1.5rem
      bottom: 7.75rem
      left: 4.7rem
  #page-five
    background-image: url('../static/images/bg-5.jpg'), url('../static/images/bg.jpg')
    background-position: bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
    #copy-five
      margin-top: 1rem
      text-align: right
      margin-right: 1em
    #together
      position: absolute
      width: 1.3rem
      height: 1.3rem
      border-radius: 50%
      left: 3.1rem
      bottom: 5.1rem
      border: 4px solid #ffc64e
      background-color: #11b8c7
  #page-six
    background-image: url('../static/images/bg-6.jpg'), url('../static/images/bg.jpg')
    background-position: bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
    #copy-six
      margin-left: 1em
  #page-seven
    background-image: url('../static/images/bg-7-b.jpg'), url('../static/images/bg.jpg')
    background-position: bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
    #copy-seven
      margin-top: 45px
    #student-avatar
      position: absolute
      width: 1.5rem
      height: 1.5rem
      border-radius: 50%
      bottom: 5.8rem
      left: 4.3rem
      border: 4px solid #ffc64e
      background-color: abc-primary
    .statdy-header
      position: absolute
      bottom: 7.2rem
      &.header-a
        width: 59px
        height: 53px
        left: 4.35rem
      &.header-b
        width: 68.5px
        height: 60px
        left: 4.22rem
      &.header-c
        width: 92.5px
        height: 61px
        left: 3.8rem
    .statdy-medal
      position: absolute
      bottom: 4.7rem
      left: 4.7rem
      &.medal-copper
        width: 26px
        height: 27.5px
      &.medal-sliver
        width: 26px
        height: 26px
      &.medal-gold
        width: 26px
        height: 26px
  #page-eight
    background-image: url('../static/images/bg-8.jpg'), url('../static/images/bg.jpg')
    background-position: bottom
    background-repeat: no-repeat, repeat
    background-size: contain, 0.5rem
    position: static
    justify-content: space-between
    display: flex
    flex-direction: column
    #copy-eight
      margin-top: 2rem

/* --- animate --- */
[class*=elevation-]
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

@keyframes placeHolderShimmer{
    0%{
      background-position: -468px 0
    }
    100%{
      background-position: 468px 0
    }
  }

.animated-background
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;

.underdash
  background-image: linear-gradient(90deg,rgba(0,0,0,0.38) 0,rgba(0,0,0,0.38) 33%,transparent 0);
  background-position: bottom calc(50% - 24px) left 0;
  background-size: 4px 1px;
  background-repeat: repeat-x;

/* --- 引用块 --- */
.blockquote
  display: block
  border-left 3px solid abc-blue
  border-radius: 3px
  background: linear-gradient(to right, abc-blue ,rgba(abc-blue,0.6))
  padding: space-util(0) space-util(1)
  box-sizing: border-box
  .header
    color grey-lighten-4
    font-size: 14pt
    font-weight: bold
  .describe
    font-size 12pt
    color grey-lighten-4

/* --- 小标题 --- */
.title
  @extend .pa-0
  font-size 14pt
  font-weight: bold
  white-space: nowrap;
  vertical-align: middle;
  line-height: 40px;
  padding-left: space-util(1)
  height: 60px;
  box-sizing: border-box;
  &::after
    user-select none
    margin-left: space-util(2);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 25px);
    max-width: 200px;
    height: 1px;
    background: linear-gradient(to right, abc-blue, transparent 80%);
  .tools
    @extend .d-inline-block
    float: right