
/* --- space --- */
/*
 * Type
 * m - to set margin
 * p - to set padding
 * 
 * Direction
 * t - to set top
 * r - to set right
 * b - to set bottom
 * l - to set left
 * x - to set x-axis
 * y - to set y-axis
 * a - to set all
 *
 */
.fill-space
  flex 1

.ml-0
  margin-left: space-util(0)
.ml-1
  margin-left: space-util(1)
.ml-2
  margin-left: space-util(2)

.mr-0
  margin-right: space-util(0)
.mr-1
  margin-right: space-util(1)
.mr-2
  margin-right: space-util(2)

.mt-0
  margin-top: space-util(0)
.mt-1
  margin-top: space-util(1)
.mt-2
  margin-top: space-util(2)

.ma-0
  margin: space-util(0)
.ma-1
  margin: space-util(1)
.ma-2
  margin: space-util(2)

.pa-0
  padding: space-util(0)
.pa-1
  padding: space-util(1)
.pa-2
  padding: space-util(2)

