/* --- Variables --- */
abc-blue = #409EFF
abc-primary = #13c2c2
abc-success = #67C23A
abc-arning = #EB9E05
abc-anger = #FA5555
abc-info = #878D99

text-color-primary = #2D2F33  // 主要文字颜色
text-color-normal = #5a5e66   // 一般文字颜色
text-color-accent = #878d99   // 次要文字颜色
text-color-ondark = #b4bccc   // 深色背景文字颜色

border-color-primary = #D8DCE5
border-color-normal = #DFE4ED
border-color-accent = #E6EBF5
border-color-ondark = #EDF2FC

/* --- 自定义color --- */
theme-color = #e5e5e5
theme-color-dark = #5e5e5e

/* --- MD 常用 color --- */
grey-lighten-4 = #f5f5f5
grey-darken-4 = #212121

blue = #2196f3
light-green = #8bc34a
green = #4caf50

/**
  *  https://ant.design/docs/spec/proximity-cn
  *  y = 8 + 8 * n
  *  n >= 0
  */
space-util(n)
  (8 + 8 * n) pt