/* --------------- colors --------------- */
/* --- text --- */
.text-primary
  color text-color-primary
.text-normal
  color text-color-normal
.text-accent
  color: text-color-accent
.text-ondark
  color text-color-ondark
.text-grey-light
  color grey-lighten-4
.text-grey-dark
  color grey-darken-4

/* --- border --- */
.border-primary-left
  border-left 1px solid border-color-primary
.border-primary-top
  border-top 1px solid border-color-primary
.border-primary-right
  border-right 1px solid border-color-primary
.border-primary-bottom
  border-bottom 1px solid border-color-primary
/* --- bg --- */
.background-primary
  background-color: abc-blue
  color grey-lighten-4