
/* --- space --- */
/*
 * Type
 * m - to set margin
 * p - to set padding
 * 
 * Direction
 * t - to set top
 * r - to set right
 * b - to set bottom
 * l - to set left
 * x - to set x-axis
 * y - to set y-axis
 * a - to set all
 *
 */
.fill-space
  flex 1

/* --- margin --- */ 
.ml-0
  margin-left: space-util(0)
.ml-1
  margin-left: space-util(1)
.ml-2
  margin-left: space-util(2)

.mr-0
  margin-right: space-util(0)
.mr-1
  margin-right: space-util(1)
.mr-2
  margin-right: space-util(2)

.mt-0
  margin-top: space-util(0)
.mt-1
  margin-top: space-util(1)
.mt-2
  margin-top: space-util(2)

.mb-0
  margin-bottom: space-util(0)
.mb-1
  margin-bottom: space-util(1)
.mb-2
  margin-bottom: space-util(2)

.mx-0
  margin: space-util(0) 0
.mx-1
  margin: space-util(1) 0
.mx-2
  margin: space-util(2) 0

.my-0
  margin: 0 space-util(0)
.my-1
  margin: 0 space-util(1)
.my-2
  margin: 0 space-util(2)

.ma-0
  margin: space-util(0)
.ma-1
  margin: space-util(1)
.ma-2
  margin: space-util(2)

/* --- padding --- */
.pl-0
  padding-left: space-util(0)
.pl-1
  padding-left: space-util(1)
.pl-2
  padding-left: space-util(2)

.pr-0
  padding-right: space-util(0)
.pr-1
  padding-right: space-util(1)
.pr-2
  padding-right: space-util(2)

.pt-0
  padding-top: space-util(0)
.pt-1
  padding-top: space-util(1)
.pt-2
  padding-top: space-util(2)

.pb-0
  padding-bottom: space-util(0)
.pb-1
  padding-bottom: space-util(1)
.pb-2
  padding-bottom: space-util(2)

.px-0
  padding: space-util(0) 0
.px-1
  padding: space-util(1) 0
.px-2
  padding: space-util(2) 0

.py-0
  padding: 0 space-util(0)
.py-1
  padding: 0 space-util(1)
.py-2
  padding: 0 space-util(2)

.pa-0
  padding: space-util(0)
.pa-1
  padding: space-util(1)
.pa-2
  padding: space-util(2)