/**  样式命名风格
  *  .block{}           组件样式
  *  .block__element{}  组件节点样式
  *  .block--modifier{} 组件节点状态
  */
/* --- reset --- */
.el-button.material-icons.el-button--text {
  color: #5a5e66;
}
/* --- 场景道具  --- */
button.block-btn {
  display: block;
  width: 100%;
}
button.material-icons {
  height: 45px;
  width: 45px;
  font-size: 24px;
  border-radius: 50%;
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-wait {
  cursor: wait;
  user-select: none;
}
.text-center {
  text-align: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --- display --- */
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-inline-block,
.title .tools {
  display: inline-block;
}
/* --- divider --- */
.nav-gap {
  position: relative;
  width: 1px;
  height: 100%;
  min-height: 60px;
  padding: 0 20px;
}
.nav-gap::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  width: 1px;
  height: 16px;
  background: #ebebeb;
}
.divider {
  margin: 16px 0;
  height: 1px;
  width: 100%;
  background-color: #d8dce5;
}
/* --- space --- */
/*
 * Type
 * m - to set margin
 * p - to set padding
 * 
 * Direction
 * t - to set top
 * r - to set right
 * b - to set bottom
 * l - to set left
 * x - to set x-axis
 * y - to set y-axis
 * a - to set all
 *
 */
.fill-space {
  flex: 1;
}
.ml-0 {
  margin-left: 8px;
}
.ml-1 {
  margin-left: 16px;
}
.ml-2 {
  margin-left: 24px;
}
.mr-0 {
  margin-right: 8px;
}
.mr-1 {
  margin-right: 16px;
}
.mr-2 {
  margin-right: 24px;
}
.mt-0 {
  margin-top: 8px;
}
.mt-1 {
  margin-top: 16px;
}
.mt-2 {
  margin-top: 24px;
}
.ma-0 {
  margin: 8px;
}
.ma-1 {
  margin: 16px;
}
.ma-2 {
  margin: 24px;
}
.pa-0,
.title {
  padding: 8px;
}
.pa-1 {
  padding: 16px;
}
.pa-2 {
  padding: 24px;
}
/* --------------- colors --------------- */
/* --- text --- */
.text-primary {
  color: #2d2f33;
}
.text-normal {
  color: #5a5e66;
}
.text-accent {
  color: #878d99;
}
.text-ondark {
  color: #b4bccc;
}
.text-grey-light {
  color: #f5f5f5;
}
.text-grey-dark {
  color: #212121;
}
/* --- border --- */
.border-primary-left {
  border-left: 1px solid #d8dce5;
}
.border-primary-top {
  border-top: 1px solid #d8dce5;
}
.border-primary-right {
  border-right: 1px solid #d8dce5;
}
.border-primary-bottom {
  border-bottom: 1px solid #d8dce5;
}
/* --- bg --- */
.background-primary {
  background-color: #409eff;
  color: #f5f5f5;
}
/* --- animate --- */
[class*=elevation-] {
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[class*=hover-] {
  transition-property: all !important;
}
.hover-outback {
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hover-outback:hover {
  transform: scale(1.1);
}
.hover-bounce {
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.hover-bounce:hover {
  transform: scale(1.1);
}
.hover-underline {
  position: relative;
}
.hover-underline::after,
.menus-group.underline .menu-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #409eff;
  height: 8px;
  transition-property: right, height;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-duration: 0.3s;
}
.hover-underline:hover::after {
  right: 0;
  height: 2px;
}
.menus-group.underline .menu-item.active {
  color: #409eff;
}
.menus-group.underline .menu-item.active::after {
  right: 0;
  height: 2px;
}
.menus-group.prospero .menu-item {
  color: #b5b5b5;
  transition: color 0.3s;
}
.menus-group.prospero .menu-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #d94f5c;
  transform: scale3d(0, 1, 1);
  transition: transform 0.1s;
}
.menus-group.prospero .menu-item.active::before {
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}
.menus-group.prospero .menu-item:hover,
.menus-group.prospero .menu-item:focus {
  color: #929292;
}
.menus-group.viola .menu-item::before {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.2s;
  left: 0;
  transform-origin: 50% 100%;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scale3d(1, 0, 1);
}
.menus-group.viola .menu-item::after {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.2s;
  right: 0;
  transform-origin: 50% 0%;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scale3d(1, 0, 1);
}
.menus-group.viola .menu-item .viola-ink::before {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.2s;
  top: 0;
  transform-origin: 0 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 1, 1);
}
.menus-group.viola .menu-item .viola-ink::after {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.2s;
  bottom: 0;
  transform-origin: 100% 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 1, 1);
}
.menus-group.viola .menu-item.active::before,
.menus-group.viola .menu-item.active::after {
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}
.menus-group.viola .menu-item.active .viola-ink::before,
.menus-group.viola .menu-item.active .viola-ink::after {
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
}
.menus-group.miranda .menu-item::before {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  top: 0;
  width: 2px;
  height: 100%;
  transform: scale3d(1, 0, 1);
  left: 0;
  transform-origin: 50% 100%;
  transition-delay: 0.2s;
}
.menus-group.miranda .menu-item::after {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  top: 0;
  width: 2px;
  height: 100%;
  transform: scale3d(1, 0, 1);
  right: 0;
  transform-origin: 50% 0%;
}
.menus-group.miranda .menu-item .miranda-ink::before {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 1, 1);
  top: 0;
  transform-origin: 0 50%;
  transition-delay: 0.1s;
}
.menus-group.miranda .menu-item .miranda-ink::after {
  content: '';
  position: absolute;
  background: #d94f5c;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 1, 1);
  bottom: 0;
  transform-origin: 100% 50%;
  transition-delay: 0.3s;
}
.menus-group.miranda .menu-item.active::before,
.menus-group.miranda .menu-item.active::after {
  transform: scale3d(1, 1, 1);
}
.menus-group.miranda .menu-item.active .miranda-ink::before,
.menus-group.miranda .menu-item.active .miranda-ink::after {
  transform: scale3d(1, 1, 1);
}
.menus-group.maria .menu-item::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 140%;
  height: 4px;
  background: #d94f5c;
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  transform-origin: 0 50%;
  transition: transform 0.4s;
}
.menus-group.maria .menu-item.active::before {
  transform: rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}
.menus-group.valentine .menu-item.active::before,
.menus-group.valentine .menu-item.active::after {
  transform: scale3d(1, 1, 1);
}
.menus-group.valentine .menu-item.active .valentine-ink::before,
.menus-group.valentine .menu-item.active .valentine-ink::after {
  transform: scale3d(1, 1, 1);
}
.menus-group.valentine .menu-item::before {
  content: '';
  position: absolute;
  background: #d94f5c;
  transform-origin: 350% 350%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  top: 0;
  width: 2px;
  height: 100%;
  transform: scale3d(1, 0, 1);
  left: 0;
  transition-delay: 0.05s;
}
.menus-group.valentine .menu-item::after {
  content: '';
  position: absolute;
  background: #d94f5c;
  transform-origin: 350% 350%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  top: 0;
  width: 2px;
  height: 100%;
  transform: scale3d(1, 0, 1);
  right: 0;
  transition-delay: 0.15s;
}
.menus-group.valentine .menu-item .valentine-ink::before {
  content: '';
  position: absolute;
  background: #d94f5c;
  transform-origin: 350% 350%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 1, 1);
  top: 0;
  transition-delay: 0.1s;
}
.menus-group.valentine .menu-item .valentine-ink::after {
  content: '';
  position: absolute;
  background: #d94f5c;
  transform-origin: 350% 350%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 1, 1);
  bottom: 0;
}
.menus-group .menu-item {
  position: relative;
  color: currentColor;
}
.btn-click {
  position: relative;
}
.btn-click::before {
  content: '';
  position: absolute;
  border: 0 solid currentColor;
  border-radius: 5px;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-duration: 0.4s;
  animation-name: ripple-out;
}
.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
  position: relative;
}
.underdash {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.38) 0, rgba(0,0,0,0.38) 33%, transparent 0);
  background-position: bottom calc(50% - 24px) left 0;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}
/* --------------- style components --------------- */
/* --- list > item (简版) --- */
ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
ul.list.dense li.item {
  padding: 0 8px;
}
ul.list li.item {
  flex: 1;
  padding: 8px 16px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}
ul.list li.item i.item-icon,
ul.list li.item button.material-icons {
  width: 45px;
}
ul.list li.item .item-content~i.item-icon {
  text-align: end;
}
ul.list li.item .item-content {
  flex: 1;
  padding-left: 8px;
}
/* --- 引用块 --- */
.blockquote {
  display: block;
  border-left: 3px solid #409eff;
  border-radius: 3px;
  background: linear-gradient(to right, #409eff, rgba(64,158,255,0.6));
  padding: 8px 16px;
  box-sizing: border-box;
}
.blockquote .header {
  color: #f5f5f5;
  font-size: 14pt;
  font-weight: bold;
}
.blockquote .describe {
  font-size: 12pt;
  color: #f5f5f5;
}
/* --- 小标题 --- */
.title {
  font-size: 14pt;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 40px;
  padding-left: 16px;
  height: 60px;
  box-sizing: border-box;
}
.title::after {
  user-select: none;
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 25px);
  max-width: 200px;
  height: 1px;
  background: linear-gradient(to right, #409eff, transparent 80%);
}
.title .tools {
  float: right;
}
/* --- elevation --- */
.elevation-1 {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}
.elevation-2 {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.elevation-3 {
  box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}
.elevation-4 {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}
.elevation-5 {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
}
.elevation-hover {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}
.elevation-hover:hover {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
}
.elevation-clear {
  box-shadow: 0 0 rgba(0,0,0,0);
}
.elevation-clear:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
@-moz-keyframes ripple-out {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
@-webkit-keyframes ripple-out {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
@-o-keyframes ripple-out {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
@keyframes ripple-out {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
@-moz-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-o-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
