@require '../var/Color.styl';

$text-color := text-color-normal
$border-color := border-color-normal
$bg-color := $bg-light
$bg-dark-color := $bg-dark

$success-color := abc-success
$warning-color := abc-warning
$danger-color := abc-danger